#selfClosing
    area
    base
    br
    col
    embed
    hr
    img
    input
    keygen
    link
    meta
    param
    wbr
    //- html agility pack doesn't support these three as self closing
    //
        source
        track
        command
#normal
    div text
    p text
    table
        tbody
            tr
                td text1
                td text2